@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FC;
    padding: 1.5rem 0;
    color: black;
    flex-direction: column;
}
.find {
    padding: 2rem 2rem;
    background-color: #2F2EA6;
    padding-left: 7rem;
}
.title{
    text-decoration: none;
    color: black;
}
.title:hover{
    color: #1967D2;
}
.form {
    float: left;
    margin-right: 4rem;
    border: 1px solid black;
    border-radius: 13px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
    background-color: #F5F7FC;
    padding: 1.5rem 1rem;
}
.text1 {
    display: flex;
    flex-direction: column;
}
.text2 {
    display: flex;
    flex-direction: column;
}
.daftar {
    display: flex;
    flex-direction: column;
}
.daftar h6 {
    color: white;
}
.list1, .list2, .list3,
 .list4, .list5, .list6{
    display: flex;
    margin: 1rem 0;
    padding: 2rem 4rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    margin-right: 4rem;
}
.list1 img , .list2 img, .list3 img , 
.list4 img, .list5 img,.list6 img{
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
}
.gambar {
    display: flex;
}
.caption {
    display: flex;
    flex-direction: column;
}
.keterangan {
    display: flex;   
}
.keterangan1 {
    margin-right: 1rem;
    margin: auto 0;
    background-color: #DDE8F8;
    color: #1967D2;
    border: 0px solid black;
    border-radius: 11px;
    padding: 5px 10px;
    font-weight: 400;
    line-height: 14px;
}
.keterangan2 {
    margin: auto 0;
    margin-left: 1rem;
    background: #FEF2D9;
    border: 0px solid black;
    border-radius: 11px;
    padding: 5px 10px;
    font-weight: 400;
    line-height: 14px;
    color: #F9AB00;
}
.btn1:hover {
    background-color: #F9AB00;
    border-radius: 100%;
}
.btn1 {
    background-color: #2F2EA6;
    color: white;
    border: 0px ;
}
/* Footer */
.footer {
    display: flex;
    height: 3rem;
    background-color: #2f2ea6;
    justify-content: space-between;
    padding: 3rem 0;
    margin-left: -6.9rem;
    margin-right: -1.9rem;
    margin-top: 6rem;
    color: white;
    border-top: 1px solid #fff;
}
.copyright {
    margin-left: 6rem;
}
.sosmed ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-right: 5rem;
}
.sosmed ul li {
    padding: 0 1rem;
}
#basic-addon1{
    background-color: #ffffff00;
    border: none;
}
.keterangan1{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
}
.note  {
    display:flex;
    margin-bottom:1rem;
    margin-left:1.5rem;
    margin-top:0.5rem;
}

.location {
    display:flex;
}
.cost {
    display:flex;
    margin-left:4rem;
}

/* Responsive breakpoint */
@media (max-width: 600px) {
    body {
        width: 100%;
    }
    .find {
        display: grid;
        grid-template-areas: "form"
        "list"
        "footer";
        grid-template-columns:3fr 4fr 0.30fr;
        grid-template-rows: 1fr;
    }
    .form {
        display: grid;
        grid-area:form;
        margin: 0 0.2rem;
        justify-content: flex-start;
        margin-bottom: 4rem;
        margin-left: -6rem;
        margin-right: -1.3rem;
        padding-bottom: -7rem;
    }
    .text1 {
        flex-direction: row;
        margin-bottom: -1rem;
    }
    .form1 {
        flex-direction: column;
        margin-right: 0.6rem;
    }
    .form1 h6 {
        text-align: center;
    }
    .text2 {
        flex-direction: row;
        margin-bottom: -1rem;
    }
    .form2 {
        flex-direction: column;
        margin-right: 3.4rem;
        margin-bottom: -4rem;
    }
    .form2 h6 {
        text-align: center;
    }

    .form3 h6 {
        text-align: center;
    }
    
    .button {
        display: flex;
        justify-content: center;
    }
    .button_find {
        width: 90%;
        height: 100%;
        padding-left:6rem; 
        padding-right: 6rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .daftar {
        display: flex;
        grid-area: list;
        margin-left: -6rem;
        flex-direction: column;
    }
    .footer {
        display: flex;
        grid-area: footer;
        flex-direction: column;
    }
    .copyright  {
        margin-top: -40px;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .sosmed {
        margin-left: 1.9rem;
    }
    .list1, .list2, .list3,
 .list4, .list5,.list6{
    display: flex;
    margin: 1rem 0;
    padding: 2rem 0;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    margin-right: -1rem;
    }
    .gambar {
        margin-left: 2.4rem;
    }


}