.header {
    background-color: #2F2EA6;
    padding:1.5rem 10rem;
}
.daftar_form{
    padding: 1rem 2rem;
    background-color: #2F2EA6;
    background-image: url('../img/Circle BG.png');
    background-size: 700px;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}
.form {
    margin: 0 31%;
    border: 1px solid black;
    border-radius: 13px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
    background-color: #F5F7FC;
    padding: 1.5rem 2rem;
}
.tombol1 {
    background-color: #DDE8F8;
    width: 70%; 
    margin-right: 1rem;
    border-radius: 6px;
    text-align: center;
}
.tombol2 {
    background-color: #1967D2; 
    width: 70%; 
    padding-right: 5px;
    padding-left: 5px;
    color: white;
    border-radius: 6px;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
}
.opsi{
    display: flex;
    color: white;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: -1rem;
}
.form ul {
  list-style-type: none;
}

.form li {
  display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
background-color: #1967d2 ;
width: 150px;
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  color: white;
}

label:before {
  background-color: #1967D2;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .label1 {
  border-color: #ddd;
  color: #1967D2;
  background-color: #DDE8F8;
  background-image: url('../img/car_biru.png');
  background-position-x: 0.7rem;
  background-position-y: 1rem;
  background-repeat: no-repeat;
}
:checked + .label2 {
    border-color: #ddd;
    color: #1967D2;
    background-color: #DDE8F8;
    background-image: url('../img/moving_biru.png');
    background-repeat: no-repeat;
    background-position-x: 0.7rem;
    background-position-y: 1rem;
  }:checked + .label3 {
    border-color: #ddd;
    color: #1967D2;
    background-color: #DDE8F8;
    background-image: url('../img/courier_biru.png');
    background-repeat: no-repeat;
    background-position-x: 0.7rem;
    background-position-y: 1rem;
  }
  :checked + .label4 {
    border-color: #ddd;
    color: #1967D2;
    background-color: #DDE8F8;
    background-image: url('../img/truck_biru.png');
    background-repeat: no-repeat;
    background-position-x: 0.7rem;
    background-position-y: 1rem;
  }
  :checked + .label5 {
    border-color: #ddd;
    color: #1967D2;
    background-color: #DDE8F8;
    background-image: url('../img/bus_biru.png');
    background-repeat: no-repeat;
    background-position-x: 0.7rem;
    background-position-y: 1rem;
  }
:checked + label img {
    opacity: 0;

}

:checked + label:before {
  content: "";
  counter-set: 20px;
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}
form i {
    margin-top: 13px;
    margin-left: -30px;
    cursor: pointer;
}
form p {
    display: flex;
    margin-right: -20%;
}
.ingat_saya a {
    text-decoration: none;
    list-style: none;
}
.ingat_saya a:hover {
    border-bottom: 2px solid #F9AB00;
}
.daftar a {
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
}
.daftar {
    border-top: 1px solid #000;
    padding-top: 1rem;
}
.daftar a:hover {
    border-bottom: 2px solid #F9AB00;
}

@media (max-width: 690px) {
    .header {
        padding-top: 1rem;
        padding:1.5rem 4.5rem;
    }
    .form {
        margin:2rem -1rem;
        padding: 0 0.4rem;
    }
    .tombol1 {
        padding: 0 15px;
        margin-left: 1rem;
        width: 70%;
    }
    .tombol2 {
        margin-left: 0;
        width: 70%;
        margin-right: 2rem;
    }
    .satu,.dua,.tiga {
        display: flex;
    }
    ul {
        margin-left: -1.7rem;
    }
}